html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url("http://res.cloudinary.com/dnwcoe12h/image/upload/v1488400338/bg_wmchfi.png");
}

.active {
    background-color: rgba(22, 41, 74, 0.8);
}

#wrap {
    min-height: 100%;
    margin: 0 auto -50px;
}

#main {
    position: relative;
    left: 0;
    min-height: 785px;
}

#logo {
    position: absolute;
    width: 50%;
    left: 5%;
    padding-top: 50px;
}

#info {
    position: absolute;
    font-family: 'Lato', sans-serif;
    left: 5%;
    width: 50%;
    color: #fff;
    padding-top: 40px;
}

#title {
    color: #fff;
    text-transform: uppercase;
}

p {
    font-size: 20px;
}

a {
    color: #ffe900 !important;
}

a:hover {
    text-decoration: none !important;
    color: #fcfc4b !important;
}

a:visited {
    text-decoration: none !important;
    color: #ffe900 !important;
}

i {
    padding-right: 5px;
    color: #ffe900;
}

.features {
    padding: 15px;
    width: 690px;
}

.features-text {
    font-size: 18px;
}

#iphone-img {
    position: absolute;
    z-index: 10;
    height: 750px;
}

#screens {
    position: relative;
}

#weather-img,
#shuttles-img,
#dining-img,
#events-img,
#links-img,
#news-img,
#map-img {
    position: absolute;
    z-index: 15;
    height: 560px;
}

#features-banner,
#features-carousel {
    display: none;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.8);
    left: 0 !important;
    right: 0 !important;
    padding-bottom: 20px !important;
    margin-bottom: 20px;
}

.carousel-indicators {
    bottom: 0px !important;
}

.carousel-indicators li {
    border: 1px solid #16294a!important;
}

.carousel-indicators .active {
    background-color: #16294a !important;
}

#features-carousel .fa {
    font-size: 20px;
}

#push {
    height: 50px;
}

#footer {
    height: 50px;
    background-color: rgba(22, 41, 74, 0.8);
}

#footer-content {
    color: white;
    text-align: center;
}

#footer-content p {
    font-size: 14px;
    padding-top: 15px;
}

@media screen and (max-width: 657px) {

    .container {
      margin: 0 !important;
      padding: 0 !important;
    }

    #main {
      min-height: auto;
    }

    .features,
    #iphone {
        display: none;
    }
    #info {
        position: static;
        text-align: center;
        width: 100%;
        left: 0;
        padding-bottom: 30px;

        margin-bottom: 0px;
    }
    #title {
        margin-bottom: 30px;
    }
    #features {
        display: block;
    }
    #features-banner {
        display: block;
        position: relative;;
        background-color: #ffc400;
        padding: 5px;
        color: #fff;
        text-align: center;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        left: 0;
        width: 100%;
        z-index: 1;
    }
    #features-carousel {
        display: block;
        position: relative;
        width: 100%;
        left: 0;
        z-index: 10;
    }
    #footer{
      height: auto;
    }
    #footer-content p {
      margin: 0;
      padding-top: 0;
    }
    #footer-content p {
      padding: 10px;
    }
    #logo {
        width: 100%;
        position: static;
        margin: 0 auto;
        text-align: center;
    }
    #logo img {
        width: 275px;
    }
}

@media screen and (min-width: 658px) and (max-width: 991px) {
    #info {
        left: 0;
    }
    #title {
        margin-top: 27%;
        font-size: 31px;
    }
    #iphone-img {
        margin-top: 50px;
        margin-left: 365px;
    }
    #weather-img,
    #shuttles-img,
    #dining-img,
    #events-img,
    #links-img,
    #news-img,
    #map-img {
        margin-top: 147px;
        margin-left: 399px;
    }
    #logo {
        margin-left: -5%;
    }
    .fa {
        font-size: 22px !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    #title {
        margin-top: 20%;
    }
    #iphone-img {
        margin-top: 4%;
        margin-left: 550px;
    }
    #weather-img,
    #shuttles-img,
    #dining-img,
    #events-img,
    #links-img,
    #news-img,
    #map-img {
        margin-top: 14.4%;
        margin-left: 584px;
    }
}

@media screen and (min-width: 1200px) {
    #title {
        margin-top: 17%;
    }
    #iphone-img {
        margin-top: 3.5%;
        margin-left: 700px;
    }
    #weather-img,
    #shuttles-img,
    #dining-img,
    #events-img,
    #links-img,
    #news-img,
    #map-img {
        margin-top: 12%;
        margin-left: 734px;
    }
}
